{% load static %}
<link rel="stylesheet" href="{% static 'crispy_forms/css/bootstrap.css' %}">
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% comment %} <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.oaistatic.com/assets/favicon-32x32-p4ktpm1x.webp" media="(prefers-color-scheme: light)"> {% endcomment %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'GhorChai-Logo.jpg' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>
        {% block title %}
            GhorChai
        {% endblock %}
    </title>
    {% load crispy_forms_tags %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img src="{% static 'GhorChai-Logo.jpg' %}" alt="GhorChai Logo" class="rounded-circle img-fluid border border-dark shadow" width="50" height="50">
            <a class="navbar-brand" href="{% url "post_list" %}">GhorChai</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn btn-info shadow-sm hover-shadow" href="{% url 'post_create' %}">Create a New Post</a>
                </li>
            </ul>
            <form method="GET" action="{% url 'post_list' %}" class="d-flex mt-2" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" value="{{ request.GET.search }}">
                <button class="btn btn-outline-success mx-2" type="submit">Search</button>  
                {% if user.is_authenticated %}
                <ul class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="notificationsDropdown" role="button" data-bs-toggle="dropdown">
                        🔔 <span class="badge bg-danger">{{ notifications|length }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% for notification in notifications %}
                            <li>
                                <a class="dropdown-item"  href="{% url 'mark_notifications_read' notification.id %}">
                                    <strong>{{ notification.message }}</strong> <br>
                                    <small>{{ notification.created_at|timesince }} ago</small>
                                </a>
                            </li>
                        {% empty %}
                            <li><a class="dropdown-item">No new notifications</a></li>
                        {% endfor %}
                    </ul>
                </ul>               
                {% comment %} <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> {% endcomment %}
                {% comment %} <button class="btn btn-outline-success mx-2" type="submit">Search</button> {% endcomment %}
                <label for="username" class="mx-1 pt-1 text-info">@{{ user.username }}</label>
                <a href="{% url 'logout' %}" class="btn btn-outline-danger mx-2">Logout</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-primary mx-2">Login</a>
                <a href="{% url 'register' %}" class="btn btn-outline-warning mx-2">Register</a>
                {% endif %}
            </form>
            </div>
        </div>
    </nav>
    <div class="">
        {% block content %}
            <h1>
                Welcome to GhorChai - Powered by Protik
            </h1>
        {% endblock %}
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>