{% extends "layout.html" %}

{% block title %}
    RentPost
{% endblock %}

{% block content %}
    <h1 class="text-center mt-4">
        Welcome to RentPost
    </h1>
    <h2>
        {% if form.instance.pk %}
            Edit Post
        {% else %}
            Create Post
        {% endif %}
    </h2>

    <form method="post" enctype="multipart/form-data" class="form m-2">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-warning">Submit</button>
    </form>
    <a href="{% url "post_list" %}">Back</a>
{% endblock %}